.qouteBody{
	font-family: 'Permanent Maker', cursive;
	color: #ff4356 !important;
	font-size: 28px;
}

.btn{
	border-radius: 0px;
}
.btn:focus{
	outline: none;
}
.tweetQoute{
	margin-top: 10px;
}
a{
	text-decoration: none;
}